[url "git@github.com:"]
	insteadof = "github:"
[url "git@gitlab.com:"]
	insteadof = "gitlab:"

[url "git@github.com:umtdg/"]
	insteadof = "umtdg:"

[url "git@gitlab.archlinux.org/"]
	insteadof = "gitlab.arch:"
[url "https://aur.archlinux.org/"]
	insteadOf = "aur:"

[color]
	ui = true
	diff = always

[user]
	email = umu7d9@gmail.com
	name = Umut Dag
	signingkey = 7ACF523C6B63264D!

[commit]
	gpgsign = true

[merge]
	tool = vimdiff

[init]
	defaultBranch = main

[diff]
	wsErrorHighlight = all
[gpg]
	program = gpg
[tag]
	forceSignAnnotated = false
[hooks "pre-commit"]
	enabled = true
