* {
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 12px;
}

/*     --primary-fg-color: #D8DEE9; */
/*     --primary-bg-color: #2E3440; */
/*     --primary-bg-color-transparent: rgba(46, 52, 64, 0); */

/*     --red = #BF616A; */
/*     --green = #A3BE8C; */
/*     --blue = #5E81AC; */
/*     --yellow = #EBC88B; */
/*     --orange = #D08770; */
/*     --magenta = #B48EAD; */

window#waybar {
    background-color: transparent;
    color: #C0CAF5;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

button {
    box-shadow: inset 0 -1px transparent;
    border: none;
    border-radius: 0;
}

button:hover {
    background: inherit;
    box-shadow: inset 0 -1px #7AA2F7;
}

/* defaults for every module */
#workspaces,
#window,
#language,
#idle_inhibitor,
#tray,
#clock,
#backlight,
#battery,
#pulseaudio,
#network,
#memory,
#cpu,
#temperature,
#custom-fan,
#custom-power,
#custom-spotify {
    padding: 0 5px;
}

#workspaces:hover,
#window:hover,
#language:hover,
#idle_inhibitor:hover,
#tray:hover,
#clock:hover,
#backlight:hover,
#battery:hover,
#pulseaudio:hover,
#network:hover,
#memory:hover,
#cpu:hover,
#temperature:hover,
#custom-fan:hover,
#custom-power:hover,
#custom-spotify:hover {
    box-shadow: inset 0 -1px;
}

/* sway/workspaces */
#workspaces {
    padding: 0;
    margin: 0 4px;
}

#workspaces button {
    padding: 0 4px;
    background-color: transparent;
    color: #A9B1D6;
}

#workspaces button:hover {
    background: inherit;
    box-shadow: inset 0 -1px #A9B1D6;
}

#workspaces button.focused {
    color: #7AA2F7;
}

#workspaces button.focused:hover {
    box-shadow: inset 0 -1px #7AA2F7;
}

#workspaces button.urgent {
    color: #F7768E;
}

#workspaces button.urgent:hover {
    box-shadow: inset 0 -1px #F7768E;
}

/* sway/window */
#window {
    padding: 0;
}

/* sway/language */
#language {
    color: #FF899D;
}

/* idle_inhibitor */
#idle_inhibitor { }

/* tray */
#tray { }

#tray > .needs-attention {
    box-shadow: inset 0 -1px #FF899D;
}

/* clock */
#clock {
    color: #9ECE6A;
}

/* memory */
#memory {
    color: #9ECE6A;
}

#memory.medium {
    color: #E0AF68;
}

#memory.high {
    color: #F7768E;
}

/* backlight */
#backlight {
    color: #BB9AF7;
}

/* battery */
#battery.bat0 {
    color: #9ECE6A;
}

#battery.bat0.warning {
    color: #E0AF68;
}

#battery.bat0.critical {
    color: #F7768E;
}

/* network */
#network {
    color: #7AA2F7;
}

#network.disconnected {
    color: #F7768E;
}

/* pulseaudio */
#pulseaudio {
    color: #E0AF68;
}

/* custom/spotify */
#custom-spotify { }

/* system/hardware/sensor info */
#cpuinfo,
#gpuinfo {
    color: #9ECE6A;
}

#cpu.medium {
    color: #E0AF68;
}

#cpu.heavy {
    color: #F7768E;
}

#temperature.critical {
    color: #F7768E;
}

/* vim: set sw=4 et: */
